{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Sellme Auction Services</title>

    {#    <!-- Bootstrap CSS CDN -->#}
    <link rel="stylesheet" href="{% static 'user/css/bootstrap.min.css' %}">
</head>

<body>
{% block content %}

{% endblock %}

<script src="{% static 'user/js/jquery-3.5.1.min.js' %}"></script>
<!-- Popper.JS -->
<script src="{% static 'user/js/popper.min.js' %}" ></script>
<!-- Bootstrap JS -->
<script src="{% static 'user/js/bootstrap.min.js' %}"></script>
</body>

</html>