{% extends 'base.html' %}

{%  block css %}
    <style>
        .styled-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }
        .styled-table thead tr {
            background-color: #4267b2;
            color: #ffffff;
            text-align: left;
        }
        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }
        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #4267b2;
        }
        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }
    </style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-2">
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Success!</strong> {{ message}}
        </div>
        {% endfor %}
        <table class="styled-table">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
                <th>Starting Price</th>
                <th>Status</th>
                <th>Auction Date</th>
                <th>Delete</th>
                <th>Place Bid</th>
            </tr>
            </thead>
            <tbody>
            {% if items %}
                {%  for item in items %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.item_name }}</td>
                        <td>{{ item.item_name.category }}</td>
                        <td>{{ item.item_name.description }}</td>
                        <td>{{ item.item_name.item_price }}</td>
                        <td>{{ item.item_name.auction_status }}</td>
                        <td>{{ item.item_name.date_scheduled}}</td>
                        <td ><a href="{% url 'user:deletebasket' item.id %}" style="color: blue; text-decoration: underline">Delete</a></td>
                        <td ><a href="{% url 'user:auctionroom' item.id %}" style="color: purple; text-decoration: underline">Place Bid</a></td>
                        <td></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="9" style="text-align: center;">No items available</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}