{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sellme | Dashboard</title>
        <link rel="stylesheet" href="{% static 'myadmin/css/bootstrap.min.css' %}" media="screen" >
        <link rel="stylesheet" href="{% static 'myadmin/css/font-awesome.min.css' %}" media="screen" >
        <link rel="stylesheet" href="{% static 'myadmin/css/animate.min.css' %}" media="screen" >
        <link rel="stylesheet" href="{% static 'myadmin/css/lobipanel/lobipanel.min.css' %}" media="screen" >
        <link rel="stylesheet" href="{% static 'myadmin/css/toastr/toastr.min.css' %}" media="screen" >
        <link rel="stylesheet" href="{% static 'myadmin/css/main.css' %}" media="screen" >
        <link rel="stylesheet" href="{% static 'user/icons/css/all.css' %}">
    </head>
    <body class="top-navbar-fixed">
        <div class="main-wrapper">
              {% include 'myadmin/topbar.html' %}
            <div class="content-wrapper">
                <div class="content-container">

                   {% include 'myadmin/leftbar.html' %}

                    <div class="main-page">
                        <div class="container-fluid">
                            <div class="row page-title-div">
                                <div class="col-sm-6">
                                    <h2 class="title">Sellme/Welcome to Admin Panel</h2>

                                </div>
                                <!-- /.col-sm-6 -->
                            </div>
                            <!-- /.row -->

                        </div>
                        <!-- /.container-fluid -->

                        <section class="section">
                            <div class="container">
                                {% block content %}

                                {% endblock %}
                                <!-- /.row -->
                            </div>
                            <!-- /.container-fluid -->
                        </section>
                        <!-- /.section -->

                    </div>
                    <!-- /.main-page -->


                </div>
                <!-- /.content-container -->
            </div>
            <!-- /.content-wrapper -->

        </div>
        <!-- /.main-wrapper -->

        <!-- ========== COMMON JS FILES ========== -->
        <script src="{% static 'myadmin/js/jquery-2.2.4.min.js' %}"></script>
        <script src="{% static 'myadmin/js/jquery-ui/jquery-ui.min.js' %}"></script>
        <script src="{% static 'myadmin/js/bootstrap/bootstrap.min.js' %}"></script>
        <script src="{% static 'myadmin/js/lobipanel/lobipanel.min.js' %}"></script>


        <!-- ========== PAGE JS FILES ========== -->
        <script src="{% static 'myadmin/js/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'myadmin/js/toastr/toastr.min.js' %}"></script>


        <!-- ========== THEME JS ========== -->
        <script src="{% static 'myadmin/js/main.js' %}"></script>
        <script>
            $(function(){

                // Counter for dashboard stats
                $('.counter').counterUp({
                    delay: 10,
                    time: 1000
                });

                // Welcome notification
                toastr.options = {
                  "closeButton": true,
                  "debug": false,
                  "newestOnTop": false,
                  "progressBar": false,
                  "positionClass": "toast-top-right",
                  "preventDuplicates": false,
                  "onclick": null,
                  "showDuration": "300",
                  "hideDuration": "1000",
                  "timeOut": "5000",
                  "extendedTimeOut": "1000",
                  "showEasing": "swing",
                  "hideEasing": "linear",
                  "showMethod": "fadeIn",
                  "hideMethod": "fadeOut"
                }
                toastr["success"]( "Welcome to Admin Dashboard!");

            });
        </script>
    </body>
</html>

